/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Bleu clair */
    color: #333; /* Noir */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Blanc */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff; /* Bleu */
}

.sensor-data {
    margin-top: 20px;
}

.sensor-data p {
    margin: 10px 0;
}

.sensor-label {
    font-weight: bold;
    color: #007bff; /* Bleu */
}
