<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphiques</title>
    <style>
        /* Style pour le corps de la page */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        /* Style pour l'en-tête */
        h1 {
            color: #333;
            margin-top: 20px;
        }

        /* Style pour le conteneur des graphiques */
        .graph-container {
            margin-top: 20px;
        }

        /* Style pour l'image du graphique */
        #temperaturePlot {
            width: 80%; /* Largeur de l'image */
            max-width: 600px; /* Largeur maximale de l'image */
            height: auto; /* Hauteur automatique en fonction de la largeur */
            display: block; /* Affichage en tant que bloc pour centrer */
            margin: 0 auto; /* Mise en page centrée */
            border-radius: 10px; /* Bord arrondi */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
        }

        /* Style pour le bouton Accueil */
        .button {
            background-color: #4CAF50; /* Couleur de fond */
            border: none;
            color: white; /* Couleur du texte */
            padding: 15px 32px; /* Espacement interne */
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 20px;
            cursor: pointer;
            border-radius: 10px; /* Bord arrondi */
            transition: background-color 0.3s; /* Transition de couleur */
        }

        /* Style pour le survol du bouton Accueil */
        .button:hover {
            background-color: #45a049; /* Changement de couleur au survol */
        }
    </style>
</head>
<body>
    <h1>Graphiques</h1>
    <div class="graph-container">
        <img id="temperaturePlot" src="{{ url_for('static', filename='temperature_plot.png') }}" alt="Graphique Température">
    </div>

    <!-- Bouton stylisé pour revenir à la première page (Accueil) -->
    <a href="/"><button class="button">Accueil</button></a>

    <script>
        // Fonction pour rafraîchir les images toutes les 60 secondes
        function refreshImages() {
            document.getElementById("temperaturePlot").src = "{{ url_for('static', filename='temperature_plot.png') }}";
        }

        // Rafraîchir les images toutes les 60 secondes
        setInterval(refreshImages, 60000);

        // Appel initial pour charger les images une fois au chargement de la page
        refreshImages();
    </script>
</body>
</html>
